@model CollegeManagementProject.Models.Teacher
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<h2>Details</h2>
<table class="table">
    <tr style="background-color:white ; color:black">
        <th>Teacher Id</th>
        <td>@Model.teacherId</td>
    </tr>
    <tr style="background-color:white ; color:black">
        <th>Teacher Name</th>
        <td>@Model.teacherName</td>
    </tr>

    <tr style="background-color:white ; color:black">
        <th>Date of joining</th>
        <td>@Model.DateOfJoining</td>
    </tr>
    <tr style="background-color:white ; color:black">
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>

    <tr style="background-color:white ; color:black">
        <th>Mobile no</th>
        <td>@Model.PhoneNo</td>
    </tr>
    <tr style="background-color:white ; color:black">
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr style="background-color:white ; color:black">
        <th>Department Id</th>
        <td>
            @if (Model.Department != null)
            {

                @Model.Department.DeptName
            }
        </td>
    </tr>

   


</table>
<tr>
    <div class="form-group" style="background-color:white ; color:black">
        <label for="Image">Image</label>
        <img src="@Url.Content(Model.Photo)" width="80" height="80" />
        <input type="file" class="form-control-file" id="file" name="Photo" />
    </div>
</tr>

</br>
<a  class="btn btn-danger" href="/Teacher/index">Back to Teachers Dashboard</a>

