@*@model.ModelDemoAssignment.Models.Products*@
@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>
<table class="table">
    <tr>
        <th>Product Id</th>
        <td>@ViewBag.MatchingProduct.ProductId</td>
        @*<td>@Model.ProductId</td>*@
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@ViewBag.MatchingProduct.ProductName</td>
        @*<td>@Model.ProductName</td>*@
    </tr>
    <tr>
        <th>Product Rate</th>
        <td>@ViewBag.MatchingProduct.rate</td>
        @*<td>@Model.rate</td>*@
    </tr>

</table>

