@model List<EFDBFirstDemoExample.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>Products Detail</h2>
<a href="/Products/create">Create</a>

<form class="form-inline" action="/Products/Index">
    <label for="search" class="mr-1">Search</label>
    <input type="search" class="form-control-mr-1" id="search" name="search" placeholder="Search" value="@ViewBag.search" />
    <button type="submit" class="btn btn-primary">GO</button>
</form>

<table class="table">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Date Of Purchase</th>
        <th>Availability status</th>
        <th>Category </th>
        <th>Brand </th>
        <th>status</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Price.Value.ToString("C")</td>
            <td>@item.DateOfPurchase.Value.ToString("d/M/yyyy")</td>
            <td>@item.AvailabilityStatus</td>
            <td>
                @if (item.Category != null)
                {

                    <span>@item.Category.CategoryName</span>
                }
            </td>

            <td>
                @if (item.Brand != null)
                {
                    <span>@item.Brand.BrandName</span>
                }
            </td>

            <td>@item.Active</td>
            <td>
                <a href="/Products/Details/@item.ProductId">Details</a>
                <a href="/Products/edit/@item.ProductId">Edit</a>
                <a href="/Products/delete/@item.ProductId">Delete</a>
            </td>


        </tr>
    }
</table>


